<a href="https://colab.research.google.com/github/fynnomenon/EDA_MXMH/blob/develop/EDA_MXMH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load the dataset
df = pd.read_csv('mxmh_survey_results.csv')

In [ ]:
# Inspect the first 5 rows
df.head()

,Timestamp,Age,Primary streaming service,Hours per day,While working,Instrumentalist,Composer,Fav genre,Exploratory,Foreign languages,...,Frequency [R&B],Frequency [Rap],Frequency [Rock],Frequency [Video game music],Anxiety,Depression,Insomnia,OCD,Music effects,Permissions
0,8/27/2022 19:29:02,18.0,Spotify,3.0,Yes,Yes,Yes,Latin,Yes,Yes,...,Sometimes,Very frequently,Never,Sometimes,3.0,0.0,1.0,0.0,NaN,I understand.
1,8/27/2022 19:57:31,63.0,Pandora,1.5,Yes,No,No,Rock,Yes,No,...,Sometimes,Rarely,Very frequently,Rarely,7.0,2.0,2.0,1.0,NaN,I understand.
2,8/27/2022 21:28:18,18.0,Spotify,4.0,No,No,No,Video game music,No,Yes,...,Never,Rarely,Rarely,Very frequently,7.0,7.0,10.0,2.0,No effect,I understand.
3,8/27/2022 21:40:40,61.0,YouTube Music,2.5,Yes,No,Yes,Jazz,Yes,Yes,...,Sometimes,Never,Never,Never,9.0,7.0,3.0,3.0,Improve,I understand.
4,8/27/2022 21:54:47,18.0,Spotify,4.0,Yes,No,No,R&B,Yes,No,...,Very frequently,Very frequently,Never,Rarely,7.0,2.0,5.0,9.0,Improve,I understand.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Timestamp                     736 non-null    object
 1   Age                           735 non-null    float64
 2   Primary streaming service     735 non-null    object
 3   Hours per day                 736 non-null    float64
 4   While working                 733 non-null    object
 5   Instrumentalist               732 non-null    object
 6   Composer                      735 non-null    object
 7   Fav genre                     736 non-null    object
 8   Exploratory                   736 non-null    object
 9   Foreign languages             732 non-null    object
 10  BPM                           629 non-null    float64
 11  Frequency [Classical]         736 non-null    object
 12  Frequency [Country]           736 non-null    object
 13  Frequency [EDM]               736 non-null    object
 14  Frequency [Folk]              736 non-null    object
 15  Frequency [Gospel]            736 non-null    object
 16  Frequency [Hip hop]           736 non-null    object
 17  Frequency [Jazz]              736 non-null    object
 18  Frequency [K pop]             736 non-null    object
 19  Frequency [Latin]             736 non-null    object
 20  Frequency [Lofi]              736 non-null    object
 21  Frequency [Metal]             736 non-null    object
 22  Frequency [Pop]               736 non-null    object
 23  Frequency [R&B]               736 non-null    object
 24  Frequency [Rap]               736 non-null    object
 25  Frequency [Rock]              736 non-null    object
 26  Frequency [Video game music]  736 non-null    object
 27  Anxiety                       736 non-null    float64
 28  Depression                    736 non-null    float64
 29  Insomnia                      736 non-null    float64
 30  OCD                           736 non-null    float64
 31  Music effects                 728 non-null    object
 32  Permissions                   736 non-null    object
dtypes: float64(7), object(26)
memory usage: 189.9+ KB

Check for duplicates

In [ ]:
# Identify duplicate rows
duplicates = df.duplicated()

# Print the number of duplicate rows
print("Number of duplicate rows:", sum(duplicates))

Number of duplicate rows: 0

Check for missing values

In [ ]:
# Identify missing values 
missing = df.isnull().sum()

# Print the mssing values
print(f"Missing values: {missing}")

Missing values: Timestamp                         0
Age                               1
Primary streaming service         1
Hours per day                     0
While working                     3
Instrumentalist                   4
Composer                          1
Fav genre                         0
Exploratory                       0
Foreign languages                 4
BPM                             107
Frequency [Classical]             0
Frequency [Country]               0
Frequency [EDM]                   0
Frequency [Folk]                  0
Frequency [Gospel]                0
Frequency [Hip hop]               0
Frequency [Jazz]                  0
Frequency [K pop]                 0
Frequency [Latin]                 0
Frequency [Lofi]                  0
Frequency [Metal]                 0
Frequency [Pop]                   0
Frequency [R&B]                   0
Frequency [Rap]                   0
Frequency [Rock]                  0
Frequency [Video game music]      0
Anxiety                           0
Depression                        0
Insomnia                          0
OCD                               0
Music effects                     8
Permissions                       0
dtype: int64

Drop null values but fill in the null values for BPM (because there are so many of them)

Check if everbody gave permission

In [ ]:
print(df[df["Permissions"] == "I understand."]["Permissions"].count())
print(df["Permissions"].count())

736
736

Remove unnecessary columns

In [ ]:
del df["Permissions"]
del df["Timestamp"]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           735 non-null    float64
 1   Primary streaming service     735 non-null    object
 2   Hours per day                 736 non-null    float64
 3   While working                 733 non-null    object
 4   Instrumentalist               732 non-null    object
 5   Composer                      735 non-null    object
 6   Fav genre                     736 non-null    object
 7   Exploratory                   736 non-null    object
 8   Foreign languages             732 non-null    object
 9   BPM                           629 non-null    float64
 10  Frequency [Classical]         736 non-null    object
 11  Frequency [Country]           736 non-null    object
 12  Frequency [EDM]               736 non-null    object
 13  Frequency [Folk]              736 non-null    object
 14  Frequency [Gospel]            736 non-null    object
 15  Frequency [Hip hop]           736 non-null    object
 16  Frequency [Jazz]              736 non-null    object
 17  Frequency [K pop]             736 non-null    object
 18  Frequency [Latin]             736 non-null    object
 19  Frequency [Lofi]              736 non-null    object
 20  Frequency [Metal]             736 non-null    object
 21  Frequency [Pop]               736 non-null    object
 22  Frequency [R&B]               736 non-null    object
 23  Frequency [Rap]               736 non-null    object
 24  Frequency [Rock]              736 non-null    object
 25  Frequency [Video game music]  736 non-null    object
 26  Anxiety                       736 non-null    float64
 27  Depression                    736 non-null    float64
 28  Insomnia                      736 non-null    float64
 29  OCD                           736 non-null    float64
 30  Music effects                 728 non-null    object
dtypes: float64(7), object(24)
memory usage: 178.4+ KB

 Change column names for better understandibility and access

In [ ]:
df = df.rename(columns = {'Primary streaming service': 'Streaming service',
                          'Frequency [Classical]': 'Classical',
                          'Frequency [Country]': 'Country',
                          'Frequency [EDM]': 'EDM',
                          'Frequency [Folk]': 'Folk',
                          'Frequency [Gospel]': 'Gospel',
                          'Frequency [Hip hop]': 'Hip hop',
                          'Frequency [Jazz]': 'Jazz',
                          'Frequency [K pop]': 'K pop',
                          'Frequency [Latin]': 'Latin',
                          'Frequency [Lofi]': 'Lofi',
                          'Frequency [Metal]': 'Metal',
                          'Frequency [Pop]': 'Pop',
                          'Frequency [R&B]': 'R&B',
                          'Frequency [Rap]': 'Rap',
                          'Frequency [Rock]': 'Rock',
                          'Frequency [Video game music]': 'Video game music'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                735 non-null    float64
 1   Streaming service  735 non-null    object
 2   Hours per day      736 non-null    float64
 3   While working      733 non-null    object
 4   Instrumentalist    732 non-null    object
 5   Composer           735 non-null    object
 6   Fav genre          736 non-null    object
 7   Exploratory        736 non-null    object
 8   Foreign languages  732 non-null    object
 9   BPM                629 non-null    float64
 10  Classical          736 non-null    object
 11  Country            736 non-null    object
 12  EDM                736 non-null    object
 13  Folk               736 non-null    object
 14  Gospel             736 non-null    object
 15  Hip hop            736 non-null    object
 16  Jazz               736 non-null    object
 17  K pop              736 non-null    object
 18  Latin              736 non-null    object
 19  Lofi               736 non-null    object
 20  Metal              736 non-null    object
 21  Pop                736 non-null    object
 22  R&B                736 non-null    object
 23  Rap                736 non-null    object
 24  Rock               736 non-null    object
 25  Video game music   736 non-null    object
 26  Anxiety            736 non-null    float64
 27  Depression         736 non-null    float64
 28  Insomnia           736 non-null    float64
 29  OCD                736 non-null    float64
 30  Music effects      728 non-null    object
dtypes: float64(7), object(24)
memory usage: 178.4+ KB

Change column values for ease of use

In [ ]:
print(df["Streaming service"].unique())

['Spotify' 'Pandora' 'YouTube Music' 'I do not use a streaming service.'
 'Apple Music' 'Other streaming service' nan]

In [ ]:
df["Streaming service"] = df["Streaming service"].replace({'I do not use a streaming service.': 'None',
                                                    'Other streaming service': 'Other'})

print(df["Streaming service"].unique())

['Spotify' 'Pandora' 'YouTube Music' 'None' 'Apple Music' 'Other' nan]

Round values for the mental health columns

In [ ]:
df[['Anxiety', 'Depression', 'Insomnia', 'OCD']] = df[['Anxiety', 'Depression', 'Insomnia', 'OCD']].round(0)

,Age,Streaming service,Hours per day,While working,Instrumentalist,Composer,Fav genre,Exploratory,Foreign languages,BPM,...,Pop,R&B,Rap,Rock,Video game music,Anxiety,Depression,Insomnia,OCD,Music effects
0,18.0,Spotify,3.0,Yes,Yes,Yes,Latin,Yes,Yes,156.0,...,Very frequently,Sometimes,Very frequently,Never,Sometimes,3.0,0.0,1.0,0.0,NaN
1,63.0,Pandora,1.5,Yes,No,No,Rock,Yes,No,119.0,...,Sometimes,Sometimes,Rarely,Very frequently,Rarely,7.0,2.0,2.0,1.0,NaN
2,18.0,Spotify,4.0,No,No,No,Video game music,No,Yes,132.0,...,Rarely,Never,Rarely,Rarely,Very frequently,7.0,7.0,10.0,2.0,No effect
3,61.0,YouTube Music,2.5,Yes,No,Yes,Jazz,Yes,Yes,84.0,...,Sometimes,Sometimes,Never,Never,Never,9.0,7.0,3.0,3.0,Improve
4,18.0,Spotify,4.0,Yes,No,No,R&B,Yes,No,107.0,...,Sometimes,Very frequently,Very frequently,Never,Rarely,7.0,2.0,5.0,9.0,Improve
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,17.0,Spotify,2.0,Yes,Yes,No,Rock,Yes,Yes,120.0,...,Very frequently,Never,Rarely,Very frequently,Never,7.0,6.0,0.0,9.0,Improve
732,18.0,Spotify,1.0,Yes,Yes,No,Pop,Yes,Yes,160.0,...,Very frequently,Never,Never,Sometimes,Sometimes,3.0,2.0,2.0,5.0,Improve
733,19.0,Other,6.0,Yes,No,Yes,Rap,Yes,No,120.0,...,Sometimes,Sometimes,Sometimes,Rarely,Rarely,2.0,2.0,2.0,2.0,Improve
734,19.0,Spotify,5.0,Yes,Yes,No,Classical,No,No,170.0,...,Never,Never,Never,Never,Sometimes,2.0,3.0,2.0,1.0,Improve
735,29.0,YouTube Music,2.0,Yes,No,No,Hip hop,Yes,Yes,98.0,...,Sometimes,Very frequently,Very frequently,Very frequently,Rarely,2.0,2.0,2.0,5.0,Improve

Change data types (need to get rid of null values first to actuallly do this)

In [ ]:
#df = df.astype({
#    'Age': 'int8',
#    'Hours per day': 'float16',
#    'While working': 'category',
#    'Instrumentalist': 'category',
#    'Composer': 'category',
#    'Exploratory': 'category',
#    'Foreign languages': 'category',
#    'BPM': 'int16',
#    'Classical': 'category',
#    'Country': 'category',
#    'EDM': 'category',
#    'Folk': 'category',
#    'Gospel': 'category',
#    'Hip hop': 'category',
#    'Jazz': 'category',
#    'K pop': 'category',
#    'Latin': 'category',
#    'Lofi': 'category',
#    'Metal': 'category',
#    'Pop': 'category',
#    'R&B': 'category',
#    'Rap': 'category',
#    'Rock': 'category',
#   'Video game music': 'category',
#    'Anxiety': 'int8',
#    'Depression': 'int8',
#    'Insomnia': 'int8',
#    'OCD': 'int8',
#    'Music effects': 'category'})